<div class="card">
  <div class="card-header">{{title}}</div>
  
  <ul class="list-unstyled m-3">
      {% for tweet in famous_tweets %}
        <li class="media mb-3">
          <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG" class="mr-3" alt="user">
          <div class="media-body">
            <h6 class="mt-0 mb-1">{{tweet[0]}}</h6>
            <span class="badge badge-success">
              {{tweet[1]}}
            </span>
            <!-- change to this code when join is implemented
            <h6 class="mt-0 mb-1">{{tweet[0]}}&nbsp-&nbsp{{tweet[1]}}</h6>
            <span class="badge badge-success">
              Likes:&nbsp&nbsp{{tweet[2]}}
            </span>
            -->
          </div>
        </li>
      {% endfor %}
    </ul>
</div>

