<div class="card">
  <div class="card-header">{{title}}</div>
  
  <ul class="list-unstyled m-3">
      {% for user in users %}
        <li class="media mb-3" >
          <img src="https://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=32&d=identicon&r=PG" class="mr-3" alt="user">
          <div class="media-body">
            <h6 class="mt-0 mb-1">{{user[1]}}</h6>
            
            {% if username != user[1] %}
                {% if title == 'Not Following' %}
                  <form action="/follow/{{user[0]}}" method="post">
                    <button type="submit" value={user[0]} class="btn badge-success">Follow</button>
                  </form>
                {% elif title == 'Following' %}
                  <form action="/unfollow/{{user[0]}}" method="post">
                    <button class="btn badge-danger" type="submit" value={user[0]}>Unfollow</button>
                  </form>
                {% endif %}
            {% endif %}
          </div>
        </li>
      {% endfor %}
  </ul>
</div>

